@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* 添加段落間距樣式 */
.whitespace-pre-line {
    white-space: pre-line;
}

.whitespace-pre-line br {
    content: "";
    display: block;
    margin-bottom: 1.5em;
}

li {
    text-indent: 0;
    margin-left: 20px;
}

@media (min-width: 768px) {
    li {
        margin-left: 80px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        --tw-bg-opacity: 1;
        background-color: rgb(0 0 0 / var(--tw-bg-opacity));
    }
}